<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Творог</title>
    <link href="static/css/CSS_CutTvorog.css" rel="stylesheet" type="text/css"/>
</head>
<body id="body" bgcolor="#282828">

<img id="voloses1" src="static/img/tvorog1.png">
<img id="face" src="static/img/tvorog2.png">
<a class="button" onclick="cut()" href="/cut" >Подстричь</a>
<div id="score">Best long hair: {{maxlonghair}}</div>
<script src="static/Js/CutTvorog.js"></script>
</body>
</html>